<div class="cart-container">
  <div class="cart-content">
    <%if(totalQty != 0){%>
      <h1>Now In Cart</h1>
        <% products.forEach(product=>{ %>
          <% if (product.qty != 0) { %>
            <div>
              <%= product.item.productName %> <%= product.item.price %> JPY
            </div>
          <% } %>
        <% }); %>
        <div>
            Total Qty <%= totalQty %>
        </div>
        <div>
            Total Price <%= totalPrice %> JPY
        </div>
        <a href="/shop/checkout" class="btn btn-primary">Checkout</a>
    <%} else { %>
      <div>
        No Items In Cart!
      </div>
    <%}%>
  </div>
</div>
